#movieList {
    animation: movie-animate-back 1s;
    margin-left: 0px;
    width: 100%;
}

#movieList:hover {
    animation: movie-animate 1s;
    margin-left: 20px;
    width: 100%;
}

.movieImage {
    animation: movie-image-animate 1s;
}



@keyframes movie-image-animate {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}



@keyframes movie-animate {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 20px;
    }
}

@keyframes movie-animate-back {
    from {
        margin-left: 20px;
    }
    to {
        margin-left: 0;
    }
}