
.background-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(1.2);
    animation: background-animate 1s;
}

#background-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.2);
}

@keyframes background-animate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}



